#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## DOCUMENTACIÓN
## FiveM: https://aka.cfx.re/server-commands
## QBCore: https://docs.qbcore.org

########################################################
# CONFIGURACIÓN BÁSICA DEL SERVIDOR
########################################################

# Network
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients {{maxClients}}

# Game Build
set sv_enforceGameBuild 3570

# Steam API (Usa "none" si no tienes una, pero es recomendable ponerla)
set steam_webApiKey "none"

# Tags
sets tags "default, deployer, qbcore, qb-core, ox-inventory"

########################################################
# IDENTIFICACIÓN Y LICENCIA
########################################################

sv_licenseKey "{{licenseKey}}"
sv_hostname "{{serverName}} desplegado con {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "[{{recipeName}}] {{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "es-ES"

# Icono del servidor
load_server_icon myLogo.png

########################################################
# INFORMACIÓN DEL SERVIDOR
########################################################

# sets 🛠️Desarrollador "Antigravity"
# sets 🔰Fundador ""
# sets 🎭Rol "🧬Supervivencia"
# sets 🌆Framework "QB-Core + Ox"
# sets 🌍Idioma Español
# sets 🎤Microfono Obligatorio
# sets 🔓Whitelist Abierta

########################################################
# BASE DE DATOS
########################################################

set mysql_connection_string "{{dbConnectionString}}"
set mysql_ui true

########################################################
# OX CONFIGURATION
########################################################

# Ox Inventory Settings
setr inventory:framework "qb"
setr inventory:slots 50
setr inventory:weight 55000
setr inventory:dropslots 64
setr inventory:dropweight 250000
setr inventory:target true
setr inventory:police ["police", "bcso", "sasp"]
setr inventory:imagepath "nui://ox_inventory/web/images"
setr inventory:autoreload true
setr inventory:screenblur true
setr inventory:keys ["F2", "K", "TAB"]
setr inventory:enablekeys [249]
setr inventory:aimedfiring false
setr inventory:giveplayerlist true
setr inventory:weaponanims true
setr inventory:itemnotify true
setr inventory:weaponnotify true
setr inventory:dropprops true
setr inventory:dropmodel "prop_med_bag_01b"
setr inventory:weaponmismatch true
setr inventory:ignoreweapons []
setr inventory:suppresspickups 1
set inventory:versioncheck true
set inventory:clearstashes "6 MONTH"
set inventory:webhook ""
set inventory:loglevel 1
set inventory:randomprices true
set inventory:randomloot false
set inventory:evidencegrade 2
set inventory:trimplate true
set inventory:vehicleloot []
set inventory:dumpsterloot []
set inventory:accounts ["money"]

# Ox Target Settings
setr ox_target:toggleHotkey 0
setr ox_target:debug 0

# Ox Lib Settings
setr ox:primaryColor blue
setr ox:primaryShade 8
setr ox:userLocales 1
setr ox:locale "es"

########################################################
# RESOURCES: CFX DEFAULT
########################################################

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

########################################################
# CONFIGURACIÓN QBCORE
########################################################

setr qb_locale "es"
setr UseTarget true
setr illenium-appearance:locale "es-ES"

ensure oxmysql
ensure ox_lib
ensure [libs]
ensure qb-core


ensure PolyZone
ensure ox_target
ensure ox_inventory
ensure ox_doorlock
ensure illenium-appearance

ensure [qb]

ensure pma-voice

ensure [standalone]

########################################################
# ADICIONAL
########################################################

# Voice logic
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

# Add admin group
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.fivem:1 group.admin # Reemplazar '1' con tu ID si es necesario
